* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.dark {
  background-color: #191924;
  transition: all 1s ease;

  color: #65667d;
}
.drk-background{
  background-image: url("../public/images/bg-desktop-dark.jpg");
  background-size: cover;
  height: 250px;
  background-repeat: no-repeat;

  transition: all 1s ease;
}
.lght-background{
  background-image: url("../public/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;

  transition: all 1s ease;
}
.light {
  background-color: #fafafa;
  transition: all 1s ease;

  color: #6f6f79;
}

.item-lgth {
  background-color: #fefffe;
  transition: all 1s ease;

  color: #6f6f79;
}
.item-drk {
  background-color: #191924;
  transition: all 1s ease;

  color: #65667d;
}

.todo-body {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 50px;
}
.todo-title {
  letter-spacing: 0.5rem;
  color: #ffffff;
  transition: all 1s ease;
}
.mode-icon:hover {
  cursor: pointer;
}
.newtodo-container {
  position: relative;
  width: 28.5em;

  margin-bottom: 10px;

  margin-left: auto;
  margin-right: auto;
}
.newtodo-input {
  font-weight: 400;
  font-size: 1.2rem;

  height: 50px;
  width: 23.8em;
  margin-left: auto;
  margin-right: auto;

  text-indent: 30px;

  border: hidden;
  border-radius: 5px;

  margin-top: 20px;
}
.newtodo-input:focus {
  outline: none;
}
.buttonNewTodo {
  position: absolute;
  bottom: 19px;
  left: 10px;
  border-radius: 7.5px;
  outline: none;
  border: hidden;

  background-color: #9166c5;

  width: 15px;
  height: 15px;
}
.buttonNewTodo:hover {
  cursor: pointer;
  background-color: #a865ea;
  transition:  1s ease;

  box-shadow: 0px 0px 5px 1px #784ed5;
}
.buttonNewTodo:active {
  cursor: pointer;
  background-color:#893ad1 ;
  transition:  1s ease;

  box-shadow: 0px 0px 5px 1px #784ed5;
}
.todo-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 28.5em;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  box-shadow: 0.1px 0.1px 50px 0.1px #504f4f;
}
.todo-element {
  display: flex;
  justify-content: left;
  align-items: center;

  height: 2.8em;
  width: 28.5em;

  border-top: 0.1px solid rgba(187, 187, 196, 0.5);
}
.todo-element:hover{
  cursor: pointer;
}
.todo-radio {
  margin-left: 30px;
}
.todo-label {
  margin-left: 30px;
  text-align: left;
}
.status {
  text-decoration: line-through;
}
.elements-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  align-items: center;
}
.todo-settings {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  height: 35px;
  width: 50em;

  gap: 70px;
  color: #6f6f79;

  font-size: 9px;
}
.todo-status {
  display: flex;
  justify-content: space-between;
  gap: 7px;
  align-items: center;
}
.todo-settings {
  border-top: 0.1px solid rgba(187, 187, 196, 0.5);
  border-bottom-left-radius: 5px;

  border-bottom: 0.1px solid rgba(187, 187, 196, 0.5);
  border-bottom-right-radius: 5px;
}

.setting-drk:hover {
  cursor: pointer;
  color: #f7d7f7;
}
.setting-drk:active {
  cursor: pointer;
  color: #3463ca;
}
.setting-lght:hover {
  cursor: pointer;
  color: #696b7f;
}
.setting-lght:active {
  cursor: pointer;
  color: #6390e5;
}
